{% extends "productivity_tools/base.html" %}

{% block content %}
<div class="max-w-screen-md mx-auto p-6 bg-white shadow-lg rounded-lg space-y-6 mt-[50px]">

    <h1 class="text-3xl font-semibold text-gray-800 text-center">To-Do List</h1>

    <div class="flex justify-center">
        <button id="add-task-btn" class="bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800 focus:outline-none transition duration-300">
            Ajouter une tâche
        </button>
    </div>

    <div id="add-task-form" class="space-y-4 mt-4" style="display: none;">
        <form action="{% url 'productivity_tools:add_to_do' %}" method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex justify-between">
                <button type="submit" class="bg-green-600 text-white px-6 py-2 rounded-lg hover:bg-green-700 focus:outline-none transition duration-300">
                    Ajouter
                </button>
                <button type="button" id="cancel-btn" class="bg-gray-600 text-white px-6 py-2 rounded-lg hover:bg-gray-700 focus:outline-none transition duration-300">
                    Annuler
                </button>
            </div>
        </form>
    </div>

    <div class="space-y-4">
        {% for task in tasks %}
            <div class="flex justify-between items-center bg-gray-50 p-4 rounded-lg shadow-sm">
                <p class="text-lg text-gray-800">{{ task.title }}</p>
                <a href="{% url 'productivity_tools:delete_to_do' task.pk %}">
                    <button class="delete-btn bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 focus:outline-none transition duration-300">
                        Supprimer
                    </button>                    
                </a>
            </div>
        {% empty %}
            <p class="text-center text-gray-500">Aucune tâche pour le moment.</p>
        {% endfor %}
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const addTaskBtn = document.getElementById('add-task-btn');
        const addTaskForm = document.getElementById('add-task-form');
        const cancelBtn = document.getElementById('cancel-btn');

        if (addTaskBtn && addTaskForm && cancelBtn) {
            addTaskBtn.addEventListener('click', () => {
                addTaskBtn.style.display = 'none';
                addTaskForm.style.display = 'block';
            });

            cancelBtn.addEventListener('click', () => {
                addTaskBtn.style.display = 'block';
                addTaskForm.style.display = 'none';
            });
        }
    });
</script>

{% endblock %}
